<ion-view view-title="PROYECTOS">
  	<ion-content class="padding">
	    <div class="container">
	    	<div class="row">
	    		<div class="col">
	    			<h2 class="asd">VIDEO IMPORTANCIA DEL AGUA:</h2>
	    			<br>
	    			<h5 class="text">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

          			Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</h5>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col col-10"></div>
	    		<div class="col col-80">
	    			<h2 class="asd">ADN 3D</h2>
	    			<br>
	    			<h5 class="text">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria.</h5>
	    		</div>
	    		<div class="col col-10"></div>
	    	</div>
	    	<div class="row">
	    		<div class="col col-25"></div>
	    		<div class="col col-50">  			
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
	    		</div>
	    		<div class="col col-25"></div>
	    	</div>
	    </div>
	    <!--tex infografias-->
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="asd">INFOGRAFÍAS</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="img" height="270" width="270" src="img/info1.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="img" height="350" width="250" src="img/info2.png">
        </div>
      </div>
    </div>
    <hr>
    <!--TABLA NUTRICIONAL-->
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="asd">TABLA NUTRICIONAL</h1>
          <h5 class="text">La información nutricional de un alimento se refiere a su valor energético y determinados nutrientes: grasas, grasas saturadas, hidratos de carbono, azúcares, proteínas y sal. El valor energético se expresará en primer lugar en kilojulios (kJ), seguido por el valor en kilocalorías (kcal), la cantidad de nutrientes en gramos (g). Las vitaminas y minerales en las unidades especificadas en la tabla siguiente. El valor energético y la cantidad de nutrientes se expresarán por 100 g o 100 ml.

		Cuando se facilite la información sobre vitaminas y minerales, se expresarán además como porcentaje de las ingestas de referencia de la tabla por 100 g o 100 ml.

		Vitaminas y Minerales que pueden declararse y sus valores de referencia de nutrientes (VRN)

			</h5>
          <br>
          <div class="nutrifacts-html">
  <h2> Tabla Nutricional</h2>
  <span> Tamaño De La Porción: 40g (1 Tortilla)</span>
  <div class="separator"></div>
  <!-- Tabla -->
  <table>
    <tr>
      <td colspan="2">
        <strong> Cantidad Por Unidad</strong>
          </td>
    </tr>
    <tr>
      <td>
        <strong>Calorías<strong/> 141.48kcal  
      </td>
      <td class="libredeazucar"><strong>Libre De Azúcar</strong></td>
    </tr>
    <tr>
      <td></td>
      <td class="alinearcantidad"><strong>Cantidad</strong></td>
    </tr>
    <tr>
      <td><strong>Grasa Total</strong></td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td> Grasa Saturada</td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td><strong>Carbohidratos Totales</strong></td> 
      <td class="alineartexto">30.064g</td>
    </tr>
     <tr>
      <td>Azúcares</td>
      <td class="alineartexto">0g</td>
    </tr>
    
    <tr>
      <td>Fibra</td>
      <td class="alineartexto">3.4g</td>
    </tr>
    <tr>
      <td><strong>Sodio</strong></td>
      <td class="alineartexto">0.2g</td>
    </tr>
    <tr>
      <td><strong>Proteína</strong></td>
      <td class="alineartexto">3.71g</td>
    </tr>
    <tr>
      <td><strong>Fibra Dietética</strong></td>
      <td class="alineartexto">0.28g</td>
    </tr>
    <tr>
      <td><strong>Potasio</strong></td>
      <td class="alineartexto">64mg</td>
    </tr>
    <tr>
      <td><strong>Fósforo</strong></td>
      <td class="alineartexto">42.4mg</td>
    </tr>
    <tr>
      <td><strong>Ceniza</strong></td>
      <td class="alineartexto">0.24mg</td>
    </tr>
      
  </table>
</div>
        </div>
      </div>
    </div>
	</ion-content>
</ion-view>
